<!DOCTYPE html>
 {% load static %}
<html>
<head>
    <title>{% block title %}Palaute{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Styles.css' %}">  
</head>

<body>

{% block topnav %}
<ul class="topnav">
    <li><a class="active" href="index.html">Anna palautetta</a></li>
    <li><a href="login.html">Kirjaudu sisään</a></li>
    <li><a href="register.html">Rekisteröidy</a></li>
 </ul> 
 {% endblock %}  

     <!-- Yläpuolella oleva periytyy register.html ja login.html-->
    
    <h1>Anna palautetta</h1>
    <span>Tervetuloa, {{request.user}} </span><br>
    <span><a href="{% url 'palaute:logout' %}">Kirjaudu ulos</a></span>

    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        {{form.errors}}
        
        <input type="submit" name="Give feedback">

    </form>

    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    
    {% endblock %} <!-- Alapuolella oleva periytyy register.html ja login.html-->

    <div class="footer">
        <p>Palautekysely</p>
    </div>

</body>
</html>



